
.menu-bar {
    -fx-background-color: #154c79;
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #ADD8E6; /* Couleur au survol des items */
}
